body {
  background-color: #c4c4c4;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-block: 8px;
}

.searchField {
  margin-top: 70px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56.25px;
  width: 98%;
  border: none;
  border-radius: 0px;
  padding-inline-start: 8px;
}

.app {
  margin: auto;
  max-width: 500px;
}

.repoWrapper {
  margin-top: 45px;
  width: 100%;
  border-top: 0px;
  background-color: #E27BEB;
}

.repa {
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
}

.stats {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.cross {
  width: 48px;
  height: 48px;
  margin-right: 34px;
}

ul.autocomplete {
  margin: 0;
  padding: 0;
  list-style: none;
}

.autocomplete li {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  padding-inline-start: 8px;
  background-color: #E3E3E3;
  border: 1px solid #000;
}

.autocomplete li:hover {
  background-color: #65CDF9;
  cursor: pointer;
}